.projectrelated {
  padding: 5rem 0rem;
  background-color: #f7f7f7;
  .projectwrap {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .headproj {
      font-weight: 700;
      font-size: 40px;
    }
    .yellowline2 {
      padding-top: 2rem;
      padding-bottom: 3rem;
    }
  }
}

@media screen and (max-width: 991px) {
  .rowcards {
    text-align: -webkit-center !important;
  }
  .colcard2 {
    padding: 2rem 0rem !important;
  }
}
