.sechero {
  background-image: url(../../../Assets/images/home-banner.svg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .rowconstruct {
    padding: 7rem 0rem;
  }
}
