.secexperience {
  background-image: url(../../../Assets/images/imgbuild.svg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .rowexperience {
    padding: 7rem 0rem;
  }
}
