.secabouthero {
  background-image: url(../../../Assets/images/home-banner.svg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .rowabout {
    padding: 6rem 0rem;
    padding-left: 4rem;
    padding-right: 4rem;

    .headyellow {
      color: #ffb400;
      font-weight: 700;
      font-size: 32px;
    }
  }
}

@media screen and (max-width: 991px) {
  .rowabout {
    text-align: center;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .colservices {
    padding-top: 3rem;
  }
}
